
* {
  margin: 0px;
}
body {
  background-image: url(image/geo8.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
section {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.3em;
  box-shadow:5px 5px 5px rgb(49, 49, 49);
  border-radius: 10px;
  align-items: center;
  margin: auto;
  margin-top: 15%;
  margin-bottom: 5% ;
  text-align: center;
  width: fit-content;
  background: linear-gradient(to right,rgb(68, 67, 67),rgb(199, 38, 240),rgb(47, 178, 187),white);
}
section:hover {
  transition: 0.3s;
  transform: scale(1.02);

}
p {
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 2em;
  margin-bottom: 10px;
  align-items: center;
}
.sing {
  margin: 15px;
  padding: 10px;
  margin: 5px ;
  border: none ;
  font-size: large;
  color: black;
}
.signing {
  margin: 15px;
  padding: 10px;
  margin: 5px ;
  border: none ;
  font-size: large;
  color: black;
  display: flex;
}
input{
  padding: 15px 100px 15px 10px;
  border-radius: 4px;
  border: none ;
  color: rgb(0, 0, 0);
  outline: none;
  background: transparent;
  border-bottom: 2px solid black;
}
input::placeholder {
  color: rgb(0, 0, 0);
  opacity: 0.8;
}
input:hover {
  transform: scale(1.05) ;
  transition: 0.5s;
}
.btn{
  width: 100%;
  border-radius: 15px;
  font-family:system-ui;
  background-color: rgb(88, 162, 247);
  color: white;
  border: none;
  font-size: 0.9em;
  text-align: center;
  margin-bottom: 10px;
  padding: 10px 0;
}
.btn:hover {
  cursor: auto;
  transition: 0.7s;
  background-color: white;
  color: blue;
  transform: scale(1.05);
  cursor: pointer;
}
.alert {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.7em;
}

a{
  text-decoration: none;
  font-size: 1em;
  color: rgb(2, 11, 136);
}
a:hover {
  text-decoration: underline;
}
.div-icons {
  display: flex;
  flex: 1;
  width: 60%;
  justify-content: space-between;
  margin: auto;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 15px;
}

.icon {
  width: 50px;
  height: 50px;
  display: flex;
  flex: 1;
  text-align: center;
  justify-content: center;
  font-size: 1rem;
  padding-left: 0px;
  padding-top: 5px;
  color: rgb(2, 11, 136);
  border: none;
  transition: 0.6s;
}
.enter-icon ,
.email-icon{
  border-radius: none;
  width: 30px;
  margin-left:-30px ;
  margin-bottom: -12px;
  position: relative;

}
.enter-icon ,
.email-icon:hover {
  cursor: pointer;
}
.email-icon {
  padding: 0;
  margin-top: 15px;
}
header {
  height: fit-content;
  width: 100%;
  background-color: white;
  display: flex;
  color: black;
  align-items: center;
  justify-content: space-between;
  box-shadow: 5px 5px 5px rgb(70,70,70);
  position: fixed;
  z-index: 100;
  top: 0;
  opacity: 0.6;
}
.ref-head {
  display: flex;
  align-items: center;
  text-align: center ;
  justify-content: space-between;
  margin: 0 10px 0 10px;
  margin-right: 50px;
}
header a {
  margin: 0 30px;
  text-decoration: none;
  font-size: 1.2em;
  color: rgb(6, 38, 180);
}
header a:hover {
  transform: scale(1.15);
  transition: 0.5s;
  color: red;
  text-decoration: none;
  border-bottom: 2px solid white;
}

.btn-head {
  color: white;
  background-color: rgb(0, 110, 255);
  padding: 10px 30px;
  border: none;
  border-radius: 20px;
  font-size:1.2em ;
  margin-left: 30px;
  box-shadow: 5px 5px 5px rgb(70 70 70);
}
.btn-head:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(24, 38, 46);
  transform: scale(1.1);
  transition: 0.4s;
}
.img-container{
  width: 70px;
  border-radius: 40px;
  border: none;
  margin: 5px 0px 5px 50px;
  background-color: rgb(255, 255, 255);
  background: transparent;
}


